body{
    color:#405143;
     background-color:#E4F9F5;
    margin:0; /*if only margin is written then it consist of all 4 types of margin ie bottom top right left*/
    text-align:center;
    font-family:'Merriweather',serif;
}
.main{
    background-color:#E4F9F5;
    margin:0;
}

h1{
    color:#66BFBF;
    padding-top:100px;
    font-family: 'Sacramento',cursive;
    font-size: 5.625rem; 
    margin:0;
}
.pic{
    height: 200px;
    border-radius: 30px;
    display:inline-block;
}
.text{
display:inline-block;
}
.english{
    text-align:left;
    
    font-size:x-large;

}
.hindi{
    text-align: left;
   font-size: x-large;
}
p{
    display:block;
}
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }
.text{
    font-family:'Montserrat', sans-serif;
    color:#11999E;
    margin: 20px;
    text-decoration-line: none ;
}
p{
    line-height:2;
}
.box{
    height:12.5rem;
    width:12.5rem;
    background-color:#66BFBF;
    display:inline-block;
    border-radius: 50px;
}
h4{
   padding: 50px 10px 50px 10px;
   font-family:'Cinzel', sans-serif;
   color:#EAF6F6;
   font-size: 120%;
   text-align: center;
}
.divi{
    text-decoration-line: none;
    display:inline-block;
    margin: 1rem;
}

.box:hover{
    background-color:#11999E;
}
